<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    {% block title %}

        <title>编辑书籍</title>
    {% endblock %}

    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% get_static_prefix %}fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% get_static_prefix %}sweetalert/sweetalert.css">
    {% block style %}

    {% endblock %}
</head>
<body>

{% block body %}


{% endblock %}


<script src="{% static 'jquery-3.2.1.min.js' %}"></script>
<script src="{% get_static_prefix %}bootstrap/js/bootstrap.min.js"></script>
<script src="{% get_static_prefix %}sweetalert/sweetalert.min.js"></script>
<script src="{% get_static_prefix %}setupajax.js"></script>
{% block script %}

{% endblock %}
</body>
</html>